html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    padding: 20px;

}

h1 {
    font-size: 50px;
    font-family: Arial, serif;
    text-align: left;
    margin-left: 25px;

}

p {
    text-align: left;
    font-size: 30px;
}


.container {
    display: flex;
    width: 100%;
    height: 100vh;

}

.toppane {
    width: 100%;
    height: 125px;
    background-color: #50ABFF;


}


.leftpane {
    flex-basis: 20%;
    height: 200vh;
    background-color: white;
}

.middlepane {
    flex-basis: 60%;
    height: 100vh;
    background-color: white;
}


.rightpane {
    flex-basis: 20%;
    height: 100vh;
    background-color: white;

    flex-direction: row;
    text-align: justify
}

body {
    margin: 0 !important;
}

.d-flex {
    display: flex;
    text-align: justify;
    align-content: space-between;
    /*writing-mode: horizontal-tb;*/

}

.column {
    width: 33.33%
}

header {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #50ABFF;
}

.logo {
    width: 25%;
}

.links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.links a {
    font-size: 40px;
    margin-left: 30px;
    text-decoration: none;
    font-family: Arial;
    color: black

}

.links a:visited {
    text-decoration: none;
    color: black;
}

input {
    align-items: center;
    color: black;
    background-color: #50ABFF;
    font-size: 30px;
    border-radius: 25px;
    border-color: #50ABFF;
}

div.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.button-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    text-align: center;

}

.button {
    width: fit-content;
    background-color: white;
    border-radius: 10px;
    border: 3px black;
    padding: 5px 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    cursor: pointer;
}


input[type="radio"] {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    border: 2px solid black;
}

input[type="radio"]:checked {
    background-color: #50ABFF;
}


