<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
    <title>DailyAMC</title>
    <link rel="stylesheet" href="/templates/styles.css">
    <script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});








    </script>
    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
    <style>
        html, body {
            margin: 0;
            height: 100%;
            overflow: hidden
        }

        input[type="radio"]:checked {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: white;
        }

        .button {
            cursor: default;
        }

        footer {
            position: absolute;
            text-align: center;
            bottom: 0;
            width: 100%;
            height: 60px; /* Height of the footer */
            padding: 20px;

        }
    </style>


</head>
<header>
    <div class="logo">
        <h1> DailyAMC </h1>
    </div>
    <nav class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/login">Login</a>

    </nav>
</header>

<div class="container">

    <div class="leftpane">
    </div>
    <div class="middlepane">
        <div class="form" style="text-align: center;">
            <form method="POST" action="http://localhost:8000/submit-answer">
                {% block content %}
                {% for problem in problems %}

                <p class="tex2jax" style="text-align: left">{{ problem }}</p>
                {% endfor %}
                <div class="button-container">
                    {% for solution in solutions %}

                    {% if solution == correct %}
                    <label class="button" style="background-color: #20C34E;">
                        {% elif solution == answer %}
                        <label class="button" style="background-color: red;">
                            {% else %}
                            <label class="button">
                                {% endif %}
                                <input type="radio" name="answer" value="{{ solution }}">
                                <p style="margin-right: 30px">${{ solution }}$</p>

                            </label>
                        </label>
                    </label>

                    {% endfor %}
                </div>
            </form>
            <h2 style="font-size: 35px; font-family: Arial,serif"><span style="color: red">Wrong! </span> You can
                find possible solutions <a href="{{solution_link}}">HERE</a></h2>
            {% if is_login == True %}
            <h3 style="font-size: 20px; font-family: Arial,serif"> Streak : {{ streak }}</h3>
            <h1> Statistics</h1>
            <p>Total correct answers: {{ total_answers }}</p>
            <table>
                <tr>
                    <th>Weekday</th>
                    <th>Correct</th>
                </tr>
                {% for weekday, stats in stats_by_day.items() %}
                <tr>
                    <td>{{ weekday }}</td>
                    <td>{{ stats['correct'] }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3 style="font-size: 20px; font-family: Arial,serif"> Do you want to keep track of your streak and other
                statistics? You can <a href="/login"> sign up/login</a></h3>
            {% endif %}
            {% endblock %}


        </div>
        <div class="rightpane">
        </div>


    </div>
</div>


<footer>
    <p style="text-align: center; font-family: Arial">The problems on this page are copyrighted by the <a
            rel="nofollow"
            class="external text"
            href="http://www.maa.org">Mathematical
        Association of America</a>'s <a rel="nofollow" class="external text" href="http://amc.maa.org">American
        Mathematics Competitions</a>
    </p>

</footer>

</html>